@import "~taro-ui/dist/style/index.scss";

.displayNormal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.colorGary {
    color: #999;
}
.colorGlobal {
    color: #222;
}
.fontW {
    font-weight: bold;
}